<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="hidden" name="token" value=<%=token%> />
        <input type="text" name="first_name">FirstName</input>
        <input type="text" name="last_name">LatstName</input>
        <input type="email" name="email">Email</input>
        <button type="submit">Submit</button>

    </form>
</body>
</html>